<?xml version="1.0"?>
<!--
  Copyright 2015 Fadri Furrer, ASL, ETH Zurich, Switzerland
  Copyright 2015 Michael Burri, ASL, ETH Zurich, Switzerland
  Copyright 2015 Mina Kamel, ASL, ETH Zurich, Switzerland
  Copyright 2015 Janosch Nikolic, ASL, ETH Zurich, Switzerland
  Copyright 2015 Markus Achtelik, ASL, ETH Zurich, Switzerland

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<robot name="$(arg mav_name)" xmlns:xacro="http://ros.org/wiki/xacro">

    <joint name="${namespace}/stick_joint" type="fixed">
        <axis xyz="1 0 0" />
        <origin xyz="0 0 0" rpy="0 1.5708 0"/>
        <parent link="${namespace}/base_link"/>
        <child link="${namespace}/stick"/>
    </joint>
    <joint name="${namespace}/bumper_joint" type="fixed">
        <axis xyz="0 0 1.0"/>
        <origin xyz="0 0 0.5" rpy="0 0 0"/>
        <parent link="${namespace}/stick"/>
        <child link="${namespace}/bump_sensor"/>
    </joint>

    <link name="${namespace}/bump_sensor">
     <collision name = "bumper_collision">
       <origin xyz="0 0 0" rpy="0 0 0"/>
       <geometry>
         <sphere radius="0.022"/>
       </geometry>
     </collision>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0"/>
       <geometry>
         <sphere radius="0.015"/>
       </geometry>
     </visual>
        <inertial>
          <mass value="0.15" />
          <inertia ixx="0.0000016" ixy="0" ixz="0" iyy="0.0000016" iyz="0" izz="0.0000016"/>
        </inertial>
    </link>
    <gazebo reference="${namespace}/bump_sensor">
      <material>Gazebo/Grey</material>
    </gazebo>

    <link name="${namespace}/stick">
      <collision>
          <origin xyz="0 0 0.25" rpy="0 0 0"/>
          <geometry>
              <cylinder radius="0.016" length="0.4"/>
          </geometry>
      </collision>
      <visual>
          <origin xyz="0 0 0.25" rpy="0 0 0"/>
          <geometry>
              <cylinder radius="0.01" length="0.5"/>
          </geometry>
      </visual>
      <inertial>
        <mass value="0.05" />
        <inertia ixx="0.000807" ixy="0" ixz="0" iyy="0.000807" iyz="0" izz="2e-6"/>
      </inertial>
    </link>
    <gazebo reference="${namespace}/stick">
      <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference = "${namespace}/bump_sensor">
        <sensor name="bump_sensor" type="contact">
          <!-- <updateRate>5</updateRate> -->
          <plugin name="omav_gazebo_ros_bumper_controller" filename="libgazebo_ros_bumper.so"/>
          <contact>
            <collision>omav/base_link_fixed_joint_lump__bumper_collision_collision_2</collision>
          </contact>
        </sensor>
    </gazebo>

</robot>
