build/
dist/
_build/
_generate/
*.so
*.py[cod]
*.egg-info
.idea/*
*.prof
cmake-*/*
*.log
*imgui.ini
.vscode/*
id_rsa
data/images/*
data/ouzel_delta_planning/*
data/ouzel_only_planning/*
raisimGymTorch/env/bin/rsg*

!data/ouzel_delta_planning/2022-05-27-14-33-19/*
!data/ouzel_only_planning/2022-05-09-12-17-53/*